.customer-view {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .views-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}