$business-container-theme: rgb(80, 80, 90);

.index-page {
    display: flex;
    flex-direction: column;

    main {
        width: 100%;

        margin-top: 3em;

        display: flex;
        justify-content: center;
        padding: 2em 0;

        .business-container {
            width: 90vw;

            padding: 0.5em;

            background-color: $business-container-theme;
        }
    }
}